@import "_variables";
@import "_bootswatch";

body {
  font-weight: 300;
}

span.help-block {
  font-size: 1.2em;
}

p.intro-text {
  font-weight: 300;
}

.hidden {
  display: none;
}

table {
  font-size: 2em;
}

th {
  font-weight: 400;
}

#headline {
  font-size: 2em;
  color: white;
  a {
    color: white;
    font-weight: 400;
  }
}

td a {
  text-decoration: none !important;
}

h3#timer {
  color: $brand-warning;
  font-size: 2em;
}
.alert-warning {
    margin-top: 20px !important;
  }

p,label {
  font-size: 1.6em;
  color: $gray-lighter;
  font-weight: 300 !important;
}

#encrypted {
  color: $gray-lighter;
}

.well p {
  font-size: 1.4em;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
  #timer{
    float: left !important;
  }
    p,label {
      font-size: 1em;
    }
  .well {
    p {
      font-size: 1em;
    }
  }
  table {
    font-size: 1.2em;
  }
  h1, h3 {
    font-size: 2em !important;
  }
  h3#timer {
    font-size: 1em;
  }       
}