@import "_variables";
@import "_bootswatch";

// global styles

a.btn {
    font-weight: 700;
  }

// h3 {
//   font-weight: 500;
//   font-size: 1em;
// }


// view templates

// layout / layout.jade
#layout {
  #timer {
    color: $brand-danger;
    text-align: right;
  }
}

// welcome / welcome.jade
#welcome {
  .jumbotron {
    padding-top: 10px;
  }
  p {
    font-weight: 300;
    span {
      font-weight: 700;
    }
  }
}

// dashboard / index.jade
#dashboard {
  table {
    font-size: 1.5em;
    border: 2px solid $gray-dark;
    a {
      text-decoration: none;
    }
  }
}

// encrypted / two.jade
#two {
  #encrypted {
    word-break: break-all;
  }
}


.hidden {
  display: none;
}


#headline {
  font-size: 2em;
  color: white;
  a {
    color: white;
    font-weight: 400;
  }
}

.well span {
  font-weight: 700;
}

img.ana {
  padding-top: 58px;
}

.alert-warning {
    margin-top: 20px !important;
  }

p,label {
  font-size: 1.6em;
  color: $gray-lighter;
  font-weight: 300 !important;
}

.well p {
  font-size: 1.4em;
}

// // mobile devices

// @media only screen 
// and (min-device-width : 375px) 
// and (max-device-width : 667px) {
//   #timer{
//     float: left !important;
//   }
//     p,label {
//       font-size: 1em;
//     }
//   .well {
//     p {
//       font-size: 1em;
//     }
//   }
//   table {
//     font-size: 1.2em;
//   }
//   h1, h3 {
//     font-size: 2em !important;
//   }
//   h3#timer {
//     font-size: 1em;
//   }       
// }