@import "_variables";
@import "_bootswatch";

// global styles

a.btn {
    font-weight: 700;
  }

  .hidden {
    display: none;
  }

label {
  font-size: 1.5em;
  font-weight: 300 !important;
}

.nopadding {
   padding: 0 10px 0 5px !important;
   margin: 0 !important;
}

hr {
  margin: 0 !important;
  padding-bottom: 20px;
}

// view templates

// layout / layout.jade
#layout {
  #headline {
    padding-top: 15px;
    font-size: 1.5em;
    color: white;
    a {
      color: white;
      font-weight: 400;
    }
  }
  #divider {
    display: block;
    width: 100%;
  }
  #timer {
    min-width: 122px;
    min-height: 41px;
    float: right;
    font-size: 1.4em;
    font-weight: 400;
    padding: 10px;
    background-color: $brand-danger;
    text-align: right;
  }
}

// welcome / welcome.jade
#welcome {
  .jumbotron {
    padding-top: 10px;
  }
  p {
    font-weight: 300;
    span {
      font-weight: 700;
    }
  }
}

// dashboard / index.jade
#dashboard {
  table {
    font-size: 1.5em;
    border: 2px solid $gray-dark;
    a {
      text-decoration: none;
    }
  }
}

// encrypted / two.jade
#two {
  #encrypted {
    word-break: break-all;
  }
}

// fine print / four.jade
#four {
  blockquote {
    p {
      font-weight: 300;
    }
  }
}

// congrats / congrats.jade
#congrats {
  text-align: center;
  .avatar {
    display: block;
    img {
      max-width: 120%;
    }
  }
  .well {
    border: 1px solid $brand-info;
  }
  blockquote {
      font-weight: 300;
      font-size: 1.3em;
      line-height: 1.75em;
    span {
      font-weight: 300;
      font-size: 1em;
      font-style: italic;
    }
  }
  span {
    color: $brand-info;
    font-weight: 700;
    font-size: 1.25em;
  }
  p {
    margin: 0
  }
}
