extends layout

block content
  #congrats
    #animation.row
      .col-sm-12
        h3 Approving your application now...
        br
        img(src="/images/loading.gif", width="133px")
    #dossier.row.hidden.animated.fadeIn
      .row
        .col-xs-12
          p Because I owe you a note...
          blockquote
            p I am amazed and impressed by your ability to to pierce complex human behavior with precision. I look forward to all our great conversations and the thoughts they provoke. The way you look at the world with passion and curiosity inspires me to think bigger. A wise man once said, <span>"The world is a book, and those who don't travel only read one page..."</span>, I'm excited to read more of that book with you.
            small <3 <cite>Colin</cite>
        br
      .col-sm-12
        .well
          span [ Application Status: ]
          p Agent Approved
        .row
          .col-xs-3.avatar
            img(class="ana", src="/images/ana.jpg")
          .col-xs-9.col-md-12
            .well
              span [ Full Name: ]
              p Ana Filipa Viegas de Oliveira 
        .row
          .col-xs-6.nopadding
            .well
              span [ Eye-color: ] 
              p Brown
          .col-xs-6.nopadding
            .well
              span [ Height: ]
              p 1.65 m
        .row
          .col-xs-6.nopadding
            .well
              span [ Birth date: ]
              p 1988-06-16
          .col-xs-6.nopadding
            .well
              span [ Birthplace: ]
              p Lisbon, Portugal
        .row
          .col-xs-6.nopadding
            .well
              span [ Languages: ]
              p Portuguese(native), English, Spanish
          .col-xs-6.nopadding
            .well
              span [ Known ]
              br
              span [ Associates: ]
              p Colin Gillingham
        .row
          .col-sm-12
            .well
              span [ Voice Sample: ]
              br
              img(src="/images/wave.png", width="300px")
              br
              audio(controls)
                source(src="#{ url }", type="audio/wav", class="sound")
    br
    p(class="text-danger") #{ msg }
  script.
    $(document).ready(function(){
      setTimeout(function(){ 
        $("#animation").addClass("hidden");
        $("#dossier").removeClass("hidden");
      }, 5000);
    });