extends layout

block content
  .row
    .col-sm-4
      img(class="ana", src="/images/ana.jpg", width="100%")
    .col-sm-8
      p= doc
      h2 Dossier
      .well
        p <span>[ Name: ]</span> Ana Oliveira
      .well
        p <span>[ Eye-color: ]</span> Brown
      .well
        p <span>[ Height: ]</span> 1.65m
      .well
        p <span>[ Birth date:]</span>  1988-06-16
  .row
    .col-sm-12
      br
      .well
        p <span>[ Birthplace: ]</span> Lisbon, Portugal
      .well
        p <span>[ Languages spoken: ]</span> Portuguese(native), English, Spanish
      .well
        p <span>[ Romantic interests: ]</span> Colin Gillingham
      .well
        p <span>[ Voice sample: ]</span>
        br
        audio(controls)
          source(src="#{ url }", type="audio/wav", class="sound")
        
  br
  p(class="text-danger") #{ msg }