extends layout

block content
  #congrats
    #animation.row
      .col-sm-12
        h3 Approving your application now...
        br
        img(src="/images/loading.gif", width="133px")
    #dossier.row.hidden.animated.fadeIn
      .col-sm-12
        .well
          span [ Application Status: ]
          p Agent Approved
        .row
          .col-xs-3.avatar
            img(class="ana", src="/images/ana.jpg")
          .col-xs-9
            .well
              span [ Full Name: ]
              p Ana Filipa Viegas de Oliveira 
        .row
          .col-xs-6.nopadding
            .well
              span [ Eye-color: ] 
              p Brown
          .col-xs-6.nopadding
            .well
              span [ Height: ]
              p 1.65 m
        .row
          .col-xs-6.nopadding
            .well
              span [ Birth date: ]
              p 1988-06-16
          .col-xs-6.nopadding
            .well
              span [ Birthplace: ]
              p Lisbon, Portugal
        .row
          .col-xs-6.nopadding
            .well
              span [ Languages: ]
              p Portuguese(native), English, Spanish
          .col-xs-6.nopadding
            .well
              span [ Known ]
              br
              span [ Associates: ]
              p Colin Gillingham
        .row
          .col-sm-12
            .well
              p <span>[ Voice sample: ]</span>
              br
              audio(controls)
                source(src="#{ url }", type="audio/wav", class="sound")
    br
    p(class="text-danger") #{ msg }
  script.
    $(document).ready(function(){
      setTimeout(function(){ 
        $("#animation").addClass("hidden");
        $("#dossier").removeClass("hidden");
      }, 5000);
    });