extends layout

block content
  #four.row
    .col-sm-8
      h4 <i class="fa fa-binoculars"></i> Read The Fine Print
      br
      blockquote
        p They are not long, the days of wine and rose. Out of a misty dream, our path emerges for a while, then closes within a dream.
        small Dowson, Ernest quoted in <cite title="Source Title">The Outsider</cite>
  .row
    .col-md-4
      form(action="./4", method="post")
        .form-group
          br
          label(for='answer') You'll find the 7 digit code on the back of your new book
          .input-group
            input#answer.form-control.input-lg(type='text', name="data[answer]")
            span.input-group-btn
              button.btn.btn-primary.btn-lg(type='submit') Submit!
  br
  p(class="text-danger") #{ msg }