extends layout

block content
  .row
    .col-md-6
      h4 <i class="fa fa-eye"></i> Confirm Your Identity
      br
      form(action="./1", method="post")
        .form-group
          label(for='birthDate') Enter your birth date
          input#birthDate.form-control.input-lg(type='date', name="data[birthDate]")
        .form-group
          label(for='passport') Passport Number
          input#passport.form-control.input-lg(type='text', name="data[passport]")
        .form-group
          label(for='exampleSelect1') Least Favorite Pizza Topping
          select#exampleSelect1.form-control.input-lg(name="data[pizza]")
            option Cheese
            option Pineapple
            option Bacon
            option Onions
            option Cheese again
        .form-group
          label(for='authcode') Voice Authentication
          span.help-block call <a href="tel:+441133204793">+44 113 320 4793</a>
          input#authcode.form-control.input-lg(type='text', name="data[authcode]", placeholder="Authorization Code")
        br
        button.btn.btn-primary.btn-lg.btn-block(type='submit') Submit
  br
  p(class="text-danger") #{ msg }