extends layout

block content
  div(class="inner cover")
    h3(class="cover-heading") Encrypted
    div(class="row")
      div(class="col-sm-8")
        .well.well-lg
          p(id="encrypted")
    .row
      .col-sm-4
        form(action="./2", method="post")
          .form-group
            label(for='key') Decoder Key
            .input-group
              input#key.form-control.input-lg(type='text', name="data[key]" )
              span.input-group-btn
                button#decode.btn.btn-info.btn-lg(type='button') Decode!
            span.help-block hint: Para Lisboa FR1882
          div
            p(id="result")
          .form-group
            label(for='answer') Submit your answer to the riddle
          .input-group
            input#answer.form-control.input-lg(type='text', name="data[answer]" )
            span.input-group-btn
              button.btn.btn-primary.btn-lg(type='submit') Submit!
          br
      p(class="text-danger") #{ msg }
  script.
    $(document).ready(function(){
      var decoderKey = "ZT8T5A"
      var decoderChars = $.map( decoderKey.split(""), function(i) {
        return i.charCodeAt(0)
      } )
      var decoderTotal = 0;
      for (var i = 0; i < decoderChars.length; i++) {
          decoderTotal += decoderChars[i];
      }
      //- var foo = $("#encrypted").text()
      var secret = "I'm as light as a feather but the strongest of people cannot hold me for over a minute. What am I?";
      var secretChars = $.map(secret.split(""), function(i) {
        return i.charCodeAt(0)
      });
      console.log("decoder key char values:", decoderChars )
      console.log("secret key char values:", secretChars )
      console.log("decoder Total:", decoderTotal )
      var encryptionNumber = (decoderTotal / decoderKey.split("").length) / 2
      console.log("encryption Number", encryptionNumber)
      var encryptedChars = $.map(secretChars, function(i) {
        if( encryptionNumber >= i ) {
         return encryptionNumber - i
        } else {
          return i - encryptionNumber
        }
      })
      var encodedText = $.map(encryptedChars, function(i){
        return String.fromCharCode(i)
      })
      console.log("your encryptedChars: ", encryptedChars )
      console.log("your encrypted Text: ", encodedText.join("") )
      $("#encrypted").text("[ encrypted riddle ]: " + encodedText.join(""))
      $("#decode").on("click", function(event) {
        var guessChars = $.map( $("#key").val().split(""), function(i) {
          return i.charCodeAt(0)
        } )
        var guessTotal = 0;
        for (var i = 0; i < guessChars.length; i++) {
            guessTotal += guessChars[i];
        }
        var decryptionNumber = (guessTotal / $("#key").val().split("").length) / 2
        var decryptedChars = $.map(encryptedChars, function(i) {
          if( decryptionNumber >= i ) {
           return decryptionNumber + i
          } else {
            return i + decryptionNumber
          }
        })
        var decryptedText = $.map(decryptedChars, function(i){
          return String.fromCharCode(i)
        })
        $("#encrypted").text("[ decrypted ]: " + decryptedText.join("").split("(").join(" "));
      })
    })