extends layout

block content
  #welcome.row
    br
    .col-lg-12
      .jumbotron
        h1#intro
        p.intro-text 
        p.instructions
        a#authenticate.btn.btn-info.btn-lg.btn-block.hidden(href="/dashboard") Begin Authentication
  script.
    $(function(){
      $("#authenticate").on("click", function(e){
        $.post( "/start", function( data ) {
          // star timer
        });
      })

      $("#intro").typed({
          strings: ["Top Secret"],
          typeSpeed: 0,
          showCursor: false,
          onStringTyped: function() {
            $(".intro-text").typed({
                strings: ["You're being recruited by an <span>elite&nbsp;special&nbsp;forces</span> unit to engage in a <span>clandestine</span> operation. We've finished your background check. Please <span>confirm your identity</span> by completing the following challenges."],
                typeSpeed: 10,
                showCursor: false,
                onStringTyped: function() {
                  $(".instructions").typed({
                      strings: ["You'll have <span>3 hours</span> to complete before this application <span>self&nbsp;-&nbsp;destructs</span>."],
                      typeSpeed: 0,
                      showCursor: false,
                      onStringTyped: function() {
                        $('#authenticate').addClass('animated fadeInUp');
                        $('#authenticate').removeClass('hidden');
                      }
                  })
                }
            });
          }
      });
      
    });