extends layout

block content
  .row
    .col-lg-12
      .jumbotron
        h1#intro
        p.intro-text 
        p.instructions
        a#authenticate.btn.btn-primary.btn-lg.hidden(href="/dashboard") Begin Authentication
  script.
    $(function(){
      $("#intro").typed({
          strings: ["For Ana's eyes only"],
          typeSpeed: 0,
          showCursor: false,
          onStringTyped: function() {
            $(".intro-text").typed({
                strings: ["You're being recruited by an elite special forces for a mission of critical importance. Your reputation of intelligent seductress who can think quickly on her feet make you the number one candidate. All we ask is that you confirm your identity by completing the following challenges."],
                typeSpeed: 10,
                showCursor: false,
                onStringTyped: function() {
                  $(".instructions").typed({
                      strings: ["Once you begin, you'll have 3 hours to complete before this site self-destructs."],
                      typeSpeed: 0,
                      showCursor: false,
                      onStringTyped: function() {
                        $('#authenticate').addClass('animated fadeInUp');
                        $('#authenticate').removeClass('hidden');
                      }
                  })
                }
            });
          }
      });
      
    });